# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Django
db.sqlite3
*.log
local_settings.py

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Media files
media/

# Static files
staticfiles/

# Documents
*.docx
*.doc
*.pdf
