{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Feedback</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">student_feedback</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <button class="btn btn-outline-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg"
                    type="button"><i class="fas fa-comment"></i> &nbsp;&nbsp;Feedback history
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'student_feedback_save' %}" method="post">
                    {% csrf_token %}
                    {% include 'includes/messages.html' %}
                    <div>
                        <div class="col-12">
                            <h5 class="form-title"><span>Send Feedback</span></h5>
                        </div>
                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Share us...</label>
                                <textarea class="form-control" style="height:250px;" name="feedback" required></textarea>

                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feedback History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="table_id" class="table table-hover table-center mb-0">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Feedback</th>
                                            <th>Replay</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in feedback_history %}

                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.feedback}}</td>
                                            <td>
                                                <div class="actions">
                                                    {% if i.feedback_replay == "" %}
                                                    <span class="badge badge-info"> No Replay </span>
                                                    {% else %}
                                                    <textarea rows="2" cols="55" disabled> {{i.feedback_replay}} </textarea>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
