{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'add_staff' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div>
              <div class="col-12">
                <h5 class="form-title"><span>Add Staff</span></h5>
              </div>
              {% include 'includes/messages.html' %}

              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Staff Pic</label>
                  <input class="form-control" name="profile_pic" required type="file" />
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" name="first_name" required type="text" />
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control" name="last_name" required type="text" />
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" name="gender" required>
                    <option>Select Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Others</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Address</label>
                  <textarea class="form-control" name="address" required></textarea>
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" name="email" required type="text" />
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" name="username" required type="text" />
                </div>
              </div>
              <div class="col-12 col-sm-11">
                <div class="form-group position-relative" style="position:relative;">
                  <label>Password</label>
                  <input class="form-control" name="password" required type="password" id="staffPassword" />
                  <span class="password-toggle" onclick="toggleStaffPassword()" style="position:absolute; right:16px; top:38px; cursor:pointer;"><i class="fa fa-eye" id="staffToggleIcon"></i></span>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Add Staff</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function toggleStaffPassword() {
      var passwordInput = document.getElementById('staffPassword')
      var toggleIcon = document.getElementById('staffToggleIcon')
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text'
        toggleIcon.classList.remove('fa-eye')
        toggleIcon.classList.add('fa-eye-slash')
      } else {
        passwordInput.type = 'password'
        toggleIcon.classList.remove('fa-eye-slash')
        toggleIcon.classList.add('fa-eye')
      }
    }
  </script>
{% endblock %}
